<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
        <title th:text="#{spring.data.jpa.example.title}">Spring Example</title>
    </head>
    <body>
    <div class="messages">
        <div class="messageblock" th:if="${feedbackMessage != null}" th:text="${feedbackMessage}">feedback</div>
        <div class="errorblock" th:if="${errorMessage != null}" th:text="${errorMessage}">error</div>
    </div>
        <h1 th:text="#{person.list.page.title}">Persons</h1>
        <a th:href="@{/person/create}" th:text="#{person.create.link.label}">add</a>
        <div class="todoList">
            <table>
                <thead>
                    <tr>
                        <td th:text="#{person.label.lastName}">last name</td>
                        <td th:text="#{person.label.firstName}">first name</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.lastName}"></td>
                        <td th:text="${person.firstName}"></td>
                        <td><a th:href="@{|/person/edit/${person.id}|}" th:text="#{person.edit.link.label}">edit</a></td>
                        <td><a th:href="@{|/person/delete/${person.id}|}" th:text="#{person.delete.link.label}">delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>